/* ========================== */
/* Default styles (Desktop) */
/* ========================== */
body, h1, h2, h3, p, a, ul, li {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
    background-color: #eeeeee;
}

body, html {
    height: 100%; /* ensures full height */
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden; /* Prevent horizontal scrolling */
}
.body-wrap {
    display: flex;        /* enable flexbox */
    flex-direction: column;  /* stack child elements vertically */
    min-height: 100%;      /* full height of the viewport */
    width: 100%;
    box-sizing: border-box;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .second-column {
        width: 600px;
    }
}

h1, h2 {
    font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
    font-weight: 600;  /* Using semi-bold weight for headers */
}

p {
    font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
    font-weight: 400;  /* Using normal weight for paragraphs */
}

.container {
    width: 90%;   /* Takes up 90% of the parent element's width */
    max-width: 1200px;  /* Won't exceed 1200px even on very large screens */
}

img {
    max-width: 100%;
    height: auto;  /* Preserve the image's aspect ratio */
}

@media (max-width: 768px) {
    /* Styles for screens smaller than 768px */
}

p {
    max-width: 800px;
}

/* HEADER */
/* HEADER */
/* HEADER */
header, footer {
    width: 100%;
    max-width: 1100px;  /*Adjust this value to your design preference */
    margin: 0;
    overflow: hidden; /* Choose based on your preference */
    justify-content: left;     /* Horizontally centers the child elements */
    align-items: left;        /* Vertically centers the child elements */
}


header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    background-color: #eeeeee;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
    flex-shrink: 0;  /* prevents the container from shrinking */
    flex-grow: 0;    /* prevents the container from growing */
}


.header-left {
    display: flex;
    align-items: center;   /* Vertically centers the items */
    gap: 10px;             /* Space between items */
    font-style: bold;
    flex-shrink: 0;  /* prevents the container from shrinking */
    flex-grow: 0;    /* prevents the container from growing */
}

header nav a {
    font-size: 15px;
    font-weight: normal;
    color: black;         /* Change the link color to black */
    text-decoration: none; /* Remove underline */
    flex-shrink: 0;  /* prevents the container from shrinking */
    flex-grow: 0;    /* prevents the container from growing */
    
}

header nav a:hover {
    color: gray;  /* Change the link color to gray on hover */
    flex-shrink: 0;  /* prevents the container from shrinking */
    flex-grow: 0;    /* prevents the container from growing */
}

.separator {
    font-size: 15px;   /* example size */
    font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
    font-weight: 100;
    color: black;      /* example color */
}


.small-rect {
    display: inline-block; /* Inline with the text */
    width: 20px;           /* Adjust as needed */
    height: 20px;
    border-radius: 0;    /* Makes it circular */
    margin-right: 0px;    /* Space between the circle and the name */
    vertical-align: middle; /* Align with the middle of the text */
}

.small-rect.name {
    background-color: #8e9aaf; 
    border: solid 2px #8e9aaf; /* added border for the hover effect */
}

.name-link {
    text-decoration: none;  /* Remove underline */
    color: black;           /* Set a specific color, adjust as needed */
}





/*Resume page */
/*Resume page */
/*Resume page */

.body {
    width: 1100px;
}

.resume-content {
    width: 1100px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    justify-content: center;     /* Horizontally centers the child elements */
    align-items: center;        /* Vertically centers the child elements */

}


.work-experience-list h1 {
    font-size: 50px;
    font-weight: bold;
    max-width: 10px;
}


.work-experience-circle,
.education-circle, .skills-circle {
    color: black;
    width: 100%;
    height: 35px;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold; /* added to make the text bold as per your description */
    text-align: center;
    font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
    margin-bottom: 20px;
}

.work-experience-circle {
    background-color: #8e9aaf;
    font-size: 20px;
}


.education-circle {
    background-color: #dee2ff;
    font-size: 20px;
}

.skills-circle {
    background-color: #8e9aaf;
    font-size: 20px;
}
/* Second column styles */
.second-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 5px;
    margin-left: 20px;
    font-size: 15px;
    width: 600px;
    flex-shrink: 0;  /* prevents the container from shrinking */
    flex-grow: 0;    /* prevents the container from growing */
    overflow: auto; /*adds scroll if content overflows the container width */
    box-sizing: border-box;

}


hr {
    border: 1px solid black;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;

}
.job h2, .job h3, .job p {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    
}

.job h3 {
    color: #4175a2;
    
}


.education h2 {
    color: #4175a2;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    
}

.education p {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    overflow-wrap: break-word;
}


/* Third column styles */
.third-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 20px;
    margin-left: 5px;
    font-size: 15px;
    width: 300px;
    flex-shrink: 0;  /* prevents the container from shrinking */
    flex-grow: 0;    /* prevents the container from growing */
    box-sizing: border-box;
    margin-top: -1380px;

}

.skills-section h2 {
    font-weight: bold;
    margin-bottom: 10px;

}

.blue-header {
    font-size: 12px;
    color: #4175a2;
    font-size: 1.2em;
    margin-top: 10px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 10px;
}

.section-divider {
    border: 0;
    border-top: 1px;
    width: 100%;
    height: 1px;
    background-color: #000;
    margin: 20px 0;
}





/*Footer */
/*Footer */
/*Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0;
    background-color: #eeeeee;
    border-top:2px solid #ccc;
    margin-top: 25px;
    width: 1100px;
    box-sizing: border-box;
    flex-shrink: 0;  /* prevents the container from shrinking */
    flex-grow: 0;    /* prevents the container from growing */
    overflow: auto;
    

}

footer > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 20px; /*Adjust horizontal margin as needed */
    
}

footer label {
    font-weight: bold;
    background-color: #eeeeee;
}

.footer-icon {
    float: left;
    margin-right: 10px; /* Space between the icon and the label */
    width: 20px; /* Adjust this according to the size you want */
    height: 20px;
}


.linkedin-icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    background-color: #eeeeee;
}


/* ========================== */
/* Mobile styles */
/* ========================== */

@media (max-width: 768px) {
    /* Override styles for screens smaller than 768px */
    body,
    h1,
    h2,
    h3,
    p,
    a {
      font-size: smaller; /* Just an example, you can change font sizes for mobile, etc. */
    }
      
 
    ul, li {
        font-size: 12px;
    }

    h2, h3 {
        font-size: 15px;
    }

    h1 {
        padding: 0;
        margin: 0;
        margin-left: -440px;
    }
  
    header,
    footer {
      /* width: 100%; */
      width: 500px;
      padding: 10px 20px;
    }

    footer {
        display: flex;
        justify-content: space-between;
        width: 400px;
        margin-left: 50px;
    }

    footer > div:nth-child(1) {
        order: 1; /* Phone div */
    }
    footer > div:nth-child(2) {
        order: 3; /* Email div */
    }
    footer > div:nth-child(3) {
        order: 2; /* Follow me div */
    }
    footer > div:nth-child(4) {
        order: 4; /* Copyright div */
    }

  
    /* .body-wrap {
      flex-direction: column;
      align-items: center;
    } */

    /* .resume-content {
        flex-direction: column; /* Change the flex direction to column */
        /* align-items: left; */
        /* padding: 0; */
        /* padding-left: 100px; Increase the padding value to prevent text from being cut off */
    /* } */

    .resume-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        max-width: 450px;
        padding-left: 20px; /* Increase the padding value to prevent text from being cut off */
        box-sizing: border-box;
      }

      .third-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        max-width: 450px;
        width: 450px;
        padding-left: 20px; /* Increase the padding value to prevent text from being cut off */
        box-sizing: border-box;
        margin: 0;
        order: 3;
        /* text-align: left; */
        flex-shrink: 0;  /* prevents the container from shrinking */
        flex-grow: 0;    /*prevents the container from growing */

      }



      .second-column {
        display: flex;
        flex-direction: column;
        align-items: left;
        margin-left: auto;
        margin-right: auto;
        max-width: 450px;
        box-sizing: border-box;
    }

      .second-column h1 {
        text-align: left;
    }

      .education-circle {
        margin-top: 0;
        padding-top: 0;
    }
    


      .work-experience-list {
       display: flex;
       flex-direction: column;
       align-items: center;
       text-align: left;
       margin-bottom: 10px;
    }

     .work-experience-list h1 {
        display: flex;
        /* flex-direction: column; */
        align-items: left;
        text-align: left;
    }

    
    .education-list { 
        display: 1;
        flex-direction: column;
        align-items: center;
        text-align: left;
    }


      .skills-section {
        width: 450px;
        max-width: 450px;
    }

      .job {
        flex-shrink: 0;  /* prevents the container from shrinking */
        flex-grow: 0;    /* prevents the container from growing */
    }




}
